<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initialscale=1.0">
 <title>Mostrar Laboratorios</title>
</head>
<style>
 table {
 border: 8px outset;
 border-radius: 10px;
 border-spacing: 10px;
 padding: 20px;
 margin-left: auto;
 margin-right: auto;
 }
 th,
 td {
 padding: 5px;
 border: 1px solid;
 }
</style>
<body>
 <h2 style="text-align:center"> Información de Laboratorios </h2>
 <table align="center" style="margin: 0px auto;">
 <thead>
 <tr>
 <th>Nombre</th>
 <th>Ciudad</th>
 <th>País</th>
 <th>Edit</th>
 <th>Delete</th>
 </tr>
 </thead>
 <tbody>
 {% for laboratorio in laboratorios %}
 <tr>
 <td>{{laboratorio.nombre}}</td>
 <td>{{laboratorio.ciudad}}</td>
 <td>{{laboratorio.pais}}</td>

 <td>
 <a href="/editar/{{laboratorio.pk}}">Actualizar</a>
 </td>
 <td>
 <a href="/eliminar/{{laboratorio.pk}}">Eliminar</a>
 </td>
 </tr>
 {% endfor %}
 </tbody>
 </table>
 <br><br>
 <div class="alert alert-danger" role="alert">
 ¿Información de los Laboratorios?
 </div>
 <p>
    <a href="{% url 'insertar' %}"><-- Ir a la página de
        Inicio</a>
         </p>
         <p>Usted ha visitado esta página {{ num_visits }} veces.</p>
        </body>
        </html>